.BillingForm .card-field {
  line-height: 1.5;
  padding: 0.65rem 0.75rem;
  background-color: var(--bs-body-bg);
  border: 1px solid var(--bs-border-color);
  border-radius: var(--bs-border-radius-lg);
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.BillingForm .card-field.StripeElement--focus {
  outline: 0;
  border-color: #86B7FE;
  box-shadow: 0 0 0 .25rem rgba(13, 110, 253, 0.25);
}
